report_*.html
*.zip
01.TestServer/*_db/
01.TestServer/*_data/
01.TestServer/teamcity_server/logs/
01.TestServer/teamcity_server/datadir/
01.TestServer/teamcity_agent/
01.TestServer/gitea/
01.TestServer/
*01.TestServer*
99.Legacy/
